<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Content/img/favicon.svg">
    <!-- CSS FILES -->
    @Styles.Render("~/Content/uikit/css")
    <!-- JS FILES -->
    @Scripts.Render("~/Content/uikit/js")
    <link rel="stylesheet" type="text/css" href="~/Content/css/login-dark.css">
</head>
<body class="login uk-cover-container uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-overflow-hidden uk-light" data-uk-height-viewport>
    @Html.Partial("_GenericMessage")
    <!-- overlay -->
    <div class="uk-position-cover uk-overlay-primary"></div>
    <!-- /overlay -->
    <div class="uk-position-bottom-center uk-position-small uk-visible@m uk-position-z-index">
        <span class="uk-text-small uk-text-muted">© @DateTime.Now.Year IT Academy Team - Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
    </div>
    @RenderBody()
</body>
</html>