@using SDmS.Mvc.Models.Account
@model AccountRegistrationViewModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<div class="uk-width-xlarge uk-padding-small uk-position-z-index" uk-scrollspy="cls: uk-animation-fade">

    <!-- home action -->
    <div>
        <div class="uk-text-left">
            <a href="/" class="uk-link-reset uk-text-small toggle-class" data-uk-toggle="target: .toggle-class ;animation: uk-animation-fade"><span data-uk-icon="arrow-left"></span> Back to Home</a>
        </div>
    </div>
    <!-- home action -->

    <div class="uk-text-center uk-margin">
        <img src="~/Content/img/identity/registration-logo.svg" alt="Logo">
    </div>

    <!-- registration -->
    @using (Html.BeginForm("Registration", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "toggle-class" }))
    {
        @Html.AntiForgeryToken()

        <fieldset class="uk-fieldset">
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: mail"></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "uk-input uk-border-pill", @placeholder = "E-Mail", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: user"></span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "uk-input uk-border-pill", @placeholder = "Username", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: more"></span>
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "uk-input uk-border-pill", @placeholder = "First Name", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: more"></span>
                    @Html.TextBoxFor(m => m.LastName, new { @class = "uk-input uk-border-pill", @placeholder = "Last Name", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "uk-input uk-border-pill", @placeholder = "Password", @required = "" })
                </div>
            </div>
            <div class="uk-margin-small">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: lock"></span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "uk-input uk-border-pill", @placeholder = "Confirm password", @required = "" })
                </div>
            </div>
            <div class="uk-margin-medium-top uk-width-small">
                <button type="submit" class="uk-button uk-button-primary uk-border-pill uk-width-1-1">REGISTRATION</button>
            </div>
        </fieldset>
    }
    <!-- /registration -->
</div>
